/apps/web/.phpunit.cache
/apps/web/bootstrap/ssr
/apps/web/node_modules
/apps/web/public/build
/apps/web/public/fonts-manifest.dev.json
/apps/web/public/hot
/apps/web/public/storage
/apps/web/storage/*.key
/apps/web/storage/pail
/apps/web/resources/js/actions
/apps/web/resources/js/routes
/apps/web/resources/js/wayfinder
/apps/web/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
